<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Hello Users</h3>
    <p>/register - to upload image</p>
    <p>/users - to see data</p>
  </body>
</html>
