<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="post" enctype="multipart/form-data">
      <div>
        <label for="file">choose file: </label>
        <input type="file" name="avatar" />
      </div>
      <div>
        <label for="name">enter name: </label>
        <input type="text" name="name" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
